.container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "aside"
        "footer";
}
.header     { grid-area: header; }
.navigation { grid-area: navigation; }
.content    { grid-area: content; }
.aside      { grid-area: aside; }
.footer     { grid-area: footer; }

@media(min-width: 768px){
      .container{
        display: grid;
        grid-template-areas:
        "header header header"
        "navigation content aside"
        "footer footer footer";
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
}