/* ========= VARIABLES ========= */

/*
     * https://developer.mozilla.org/pt-BR/docs/Web/CSS/:root
     * A pseudo-classe CSS  :root se equipara à raíz de uma árvore, 
     * que por sua vez representa o documento. Aplicado ao HTML, 
     * :root representa o elemento <html> e é identico ao seletor html,
     * exceto que sua especificidade é mais alta.
     */
     :root {
        font-size: 62.5%;
        --standart-padding: 2.0rem;
    
        /* fonts type*/
        --title-font: 'Poppins', sans-serif;
        --text-font: 'DM Sans', sans-serif;
    
        /* fonts size */
        --title-font-size: 3.0rem;
        --text-font-size: 1.6rem;
    
        /* colors */
        --hue: 150;
        /* HSL color mode */
        --base-color-one: hsl(var(--hue) 36% 57%);
        --base-color-two: hsl(var(--hue) 65% 88%);
        --base-color-three: hsl(var(--hue) 57% 53%);
        --title-color: hsl(var(--hue) 41% 10%);
        --text-color: hsl(0 0% 46%);
        --text-color-light: hsl(0 0% 98%);
        --background-color: hsl(0 0% 98%);
    }