:root{
    /* color-palette */
    --ghost-white: #f2eeee;
    --lavender: #E0DFFD;
    --yellow: #FFB600;
    --dark-purple: #21052D;
    /* light mode */
    --purple: #5D0184;
    /* dark mode */
    --nubank: #A00CE5;
}

